<h2>Edit wagon: {{ wagon.serial }}</h2>
<p>
  <a mat-button routerLink="/wagons">
    <b>Back to wagon</b>
  </a>
</p>
<form [formGroup]="wagonForm" (ngSubmit)="onSubmit(wagonForm.getRawValue())">
  <div hidden>
    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input
        matInput
        placeholder="{{ wagon.id }}"
        formControlName="id"
        [(ngModel)]="wagon.id"
        readonly
      />
      <mat-hint>{{ wagon.id }}</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Serial</mat-label>
      <input
        matInput
        placeholder="{{ wagon.serial }}"
        formControlName="serial"
        [(ngModel)]="wagon.serial"
      />
      <mat-icon matSuffix *ngIf="serial.valid">check</mat-icon>
      <mat-error *ngIf="serial.invalid">{{
        getSerialErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Production date</mat-label>
      <input
        matInput
        placeholder="{{ wagon.productionDate }}"
        formControlName="productionDate"
        [(ngModel)]="wagon.productionDate"
      />
      <mat-icon matSuffix *ngIf="productionDate.valid">check</mat-icon>
      <mat-error *ngIf="productionDate.invalid">{{
        getProductionDateErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Track number</mat-label>
      <input
        matInput
        placeholder="{{ wagon.trackNr | tracknumber }}"
        formControlName="trackNr"
        [(ngModel)]="wagon.trackNr"
      />
      <mat-spinner
        matSuffix
        *ngIf="trackNr.pending"
        mode="indeterminate"
        diameter="17"
      ></mat-spinner>
      <mat-icon matSuffix *ngIf="trackNr.valid">check</mat-icon>
      <mat-error *ngIf="trackNr.invalid">{{
        getTrackNrErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Owner</mat-label>
      <input
        matInput
        placeholder="{{ wagon.owner }}"
        formControlName="owner"
        [(ngModel)]="wagon.owner"
      />
      <mat-icon matSuffix *ngIf="owner.valid">check</mat-icon>
      <mat-error *ngIf="owner.invalid">{{ getOwnerErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Site</mat-label>
      <mat-select
        matInput
        placeholder="{{ wagon.siteId }}"
        formControlName="siteId"
        [(ngModel)]="wagon.siteId"
      >
        <ng-container *ngFor="let site of sites">
          <mat-option [value]="site.id">
            {{ site.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-hint>{{ wagon.siteId }}</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Is active?</mat-label>
      <mat-select matInput formControlName="status" [(ngModel)]="wagon.status">
        <mat-option [value]="true">Yes</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
      <mat-hint>{{ wagon.status }}</mat-hint>
    </mat-form-field>
  </div>
  <br />
  <button mat-raised-button color="primary" type [disabled]="!wagonForm.valid">
    Update
  </button>
</form>
<p>Form Status: {{ wagonForm.status }}</p>
