<div style="margin-bottom: 10px">
  <button mat-flat-button color="primary" routerLink="/wagons/create">
    Add wagon
  </button>
</div>

<table mat-table [dataSource]="$wagons | async" class="mat-elevation-z8">
  <ng-container matColumnDef="serial">
    <th mat-header-cell *matHeaderCellDef>Serial</th>
    <td mat-cell *matCellDef="let element">
      {{ element.serial }}
    </td>
  </ng-container>
  <ng-container matColumnDef="trackNr">
    <th mat-header-cell *matHeaderCellDef>Track Number</th>
    <td mat-cell *matCellDef="let element">
      {{ element.trackNr | tracknumber }}
    </td>
  </ng-container>
  <ng-container matColumnDef="siteId">
    <th mat-header-cell *matHeaderCellDef>Site ID</th>
    <td mat-cell *matCellDef="let element">
      {{ element.siteId }}
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button [routerLink]="['/wagons/update', element.id]">
        Edit
      </button>
      <button
        mat-flat-button
        color="warn"
        (click)="onDelete(element)"
        aria-label="Delete"
        aria-hidden="false"
        [disabled]="!element.status"
      >
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
