<p>wagon-create works!</p>
<button mat-flat-button color="primary" routerLink="/wagons">
  Go back to list
</button>

<p>
  <a mat-button routerLink="/wagons">
    <b>Back to wagon</b>
  </a>
</p>
<form [formGroup]="wagonForm" (ngSubmit)="onCreate(wagonForm.getRawValue())">
  <div hidden>
    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput placeholder="id" formControlName="id" readonly />
      <mat-hint>Identifier</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Serial</mat-label>
      <input matInput placeholder="serial" formControlName="serial" />
      <mat-hint>Type the serial</mat-hint>
      <!-- <mat-error *ngIf="serial.invalid">{{
        getSerialErrorMessage()
      }}</mat-error> -->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Production date</mat-label>
      <input
        matInput
        placeholder="production date YYYY-MM-DD"
        formControlName="productionDate"
      />
      <mat-hint>Give the production date</mat-hint>
      <!-- <mat-error *ngIf="productionDate.invalid">{{
        getProductionDateErrorMessage()
      }}</mat-error> -->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Track number</mat-label>
      <input matInput placeholder="track number" formControlName="trackNr" />
      <!-- <mat-error *ngIf="trackNr.invalid">{{
        getTrackNrErrorMessage()
      }}</mat-error> -->
      <mat-hint>Give the track number</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Owner</mat-label>
      <input matInput placeholder="owner" formControlName="owner" />
      <!-- <mat-error *ngIf="owner.invalid">{{ getOwnerErrorMessage() }}</mat-error> -->
      <mat-hint>Give the owner</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Site</mat-label>
      <mat-select matInput placeholder="site id" formControlName="siteId">
        <ng-container *ngFor="let site of sites">
          <!-- <mat-option *ngIf="site.is_deleted === false" [value]="site.id">{{
        site.id
      }}</mat-option> -->
          <mat-option [value]="site.id">
            {{ site.name }}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-hint>Select a site</mat-hint>
    </mat-form-field>
  </div>
  <!-- <div>
    <mat-form-field appearance="outline">
      <mat-label>Is active?</mat-label>
      <mat-select matInput formControlName="status">
        <mat-option [value]="true">Yes</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
      <mat-hint>{{ wagon.status }}</mat-hint>
    </mat-form-field>
  </div> -->
  <!-- <div>
    <mat-form-field appearance="outline">
      <mat-label>{{ wagon.siteName }}</mat-label>
      <mat-select
        matInput
        placeholder="{{ wagon.siteName }}"
        formControlName="siteName"
        [(ngModel)]="wagon.siteName"
      >
        <ng-container *ngFor="let site of sites">
          <mat-option *ngIf="site.is_deleted === false" [value]="site.name">{{
            site.name
          }}</mat-option>
        </ng-container>
      </mat-select>
      <mat-hint>Wagon's site name</mat-hint>
    </mat-form-field>
  </div> -->
  <br />
  <button mat-raised-button color="primary" type [disabled]="wagonForm.invalid">
    Create
  </button>
</form>
<p>Form Status: {{ wagonForm.status }}</p>
